<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header">New Blog</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<label for="title">
				<input type="text" name="blog[title]" placeholder="title" id="title">
			</label>
		</div>
		<div class="field">
			<label for="blogImage">
				<input type="text" name="blog[image]" placeholder="image" id="blogImage">
			</label>
		</div>
		<div class="field">
			<label for="blogBody">
				<textarea name="blog[body]" placeholder="blog post goes here" id="blogBody"></textarea>
			</label>
		</div>
		<input type="submit" class="ui violet basic button">
	</form>
</div>
<% include ./partials/footer %>